body{
    background-color: pink;
    display: flex;
    flex-direction: column;
}
label{
    background-color: bisque;
}
#image{
    width: 500px;

}
.form{
    float: right;
    margin-right: 500px;
    table-layout: fixed;
    
}
.table, th, td{ border: solid;
    

}





  